.p-2.Flex9 {
display: flex;
width: 100%;
align-items: center;
justify-content: center;
padding-top: 32px;
padding-bottom: 32px;
}
.p-2.Flex6 {
display: flex;
justify-content: space-between;
width: 80%;
}
.p-2.Flex7 {
display: flex;
}
.p-2.Flex8 {
display: flex;
justify-content: space-between;
column-gap: 24px;
font-family: IBM Plex Sans;
font-weight: normal;
text-align: left;
font-size: ;
}
.p-2.Flex12 {
display: flex;
column-gap: 15px;
}
.p-2.TextBox10 {
font-family: IBM Plex Sans;
font-weight: 700;
font-size: 20px;
}
.p-2.TextBox11 {
;
}
.p-2.TextBox12 {
;
}
.p-2.TextBox14 {
;
}
.p-2.TextBox15 {
;
}
.p-2.TextBox17 {
font-family: IBM Plex Sans;
padding-top: ;
padding-left: ;
padding-right: 10px;
}
.p-2.Image10 {
;
}
