.p-home.TextBox41 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox56 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox80 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox87 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox88 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox89 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox105 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox158 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox191 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox197 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p-home.TextBox211 {
    background: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

